/* Copyright (c) 2018 Anakin Authors, Inc. All Rights Reserved.

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
**/

#ifndef _NBDNN_CONFIGURATION_HEADER_GUARD_H_
#define _NBDNN_CONFIGURATION_HEADER_GUARD_H_

#define NBDNN_VERSION @VERSION@

// data float precision
#cmakedefine NBDNN_TYPE_FP64
#cmakedefine NBDNN_TYPE_FP32
#cmakedefine NBDNN_TYPE_FP16
#cmakedefine NBDNN_TYPE_INT8

// build options
#cmakedefine ENABLE_DEBUG

// build lib
#cmakedefine USE_PYTHON

#cmakedefine USE_OPENCV

#cmakedefine USE_MKL

#cmakedefine USE_OPENMP

#cmakedefine USE_LOGGER

#cmakedefine USE_GFLAGS

// plantform to use

#cmakedefine USE_X86_PLACE

#cmakedefine ENABLE_OP_TIMER

#cmakedefine ENABLE_STACKTRACES

#cmakedefine SUPPORT_PTHREADS

#define PLATFORM_POSIX

#define PLATFORM_X86

#endif

